@import '@shared/styles/colors.scss';
@import '@shared/styles/variables.scss';

.hui-text-area {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: $hui-text-area-box-min-h;
  padding: $hui-text-area-p-t $hui-text-area-p-l;
  background: $hui-theme-color-background;

  .label {
    display: flex;
    align-items: center;
    padding-right: $input-label-space;
    margin-bottom: 14px;
    font-size: $hui-font-body-m;
    font-weight: $hui-font-weight-regular;
    color: $hui-color-grey-9;

    &-icon {
      margin-left: 4px;
      color: $hui-font-color-base-35;
    }

    &-required {
      margin-left: 4px;
      font-family: PingFangSC-Regular, sans-serif;
      font-size: $hui-font-caption-m;
      font-weight: normal;
      line-height: 20px;
      color: $hui-font-color-base-75;
      letter-spacing: 0;
    }
  }

  .error-wrapper {
    display: flex;
    justify-content: flex-end;
    font-family: PingFangSC-Regular, sans-serif;
    font-size: $hui-font-caption-m;
    font-weight: normal;
    line-height: 20px;
    color: $hui-theme-color-primary;
    letter-spacing: 0;
    word-break: break-all;
  }

  .text-area {
    width: 100%;
    height: 100%;
    font-size: $hui-font-body-m;
    color: $hui-font-color-base;
    // h5下会有边框线
    resize: none;
    border: none;
    outline: none;
  }

  .placeholder {
    color: $hui-font-color-base-35;
  }

  .indicator {
    flex-shrink: 0;
    width: 100%;
    padding-top: $hui-text-area-i;
    font-size: $hui-font-body-s;
    color: $hui-font-color-base-35;
    text-align: right;

    .current-number {
      color: $hui-font-color-base;

      &.zero {
        color: inherit;
      }

      &.overage {
        color: $hui-theme-color-primary;
      }
    }
  }

  &.disabled {
    background: $hui-disabled-background-color;

    .label {
      color: $hui-font-color-base-35;

      &-required {
        color: $hui-font-color-base-25;
      }
    }

    .text-area {
      color: $hui-font-color-base-35;
    }

    .placeholder {
      color: $hui-font-color-base-25;
    }

    .indicator {
      display: none;
      color: $hui-font-color-base-35;

      .current-number {
        color: $hui-font-color-base-35;

        &.overage {
          color: $hui-font-color-input-disabled;
        }
      }
    }
  }
}
