@import "../../styles/variables.scss";
@import "../../styles/colors.scss";

.hui-input {
  height: 100%;

  .input-item-placeholder {
    font-weight: normal;
    color: $hui-font-color-base-35;
  }

  .input-container {
    display: flex;
    align-items: center;
    padding: $input-space-v $hui-page-space-m $input-space-v;
    background: $input-background-color;

    .error-wrapper {
      display: flex;
      justify-content: flex-end;
      font-family: PingFangSC-Regular, sans-serif;
      font-size: $hui-font-caption-m;
      font-weight: normal;
      line-height: 20px;
      color: $hui-theme-color-primary;
      letter-spacing: 0;
      word-break: break-all;

      .error-msg-wrapper {
        padding-top: 4px;
      }
    }
  }

  .input-wrapper {
    display: flex;
    align-items: center;
    height: 20px;
    min-height: $input-min-height;
    color: $hui-font-color-base;

    .label {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      padding-right: $input-label-space;
      font-size: $hui-font-body-m;
      font-weight: $hui-font-weight-regular;
      color: $hui-color-grey-9;

      &-icon {
        margin-left: 4px;
        color: $hui-font-color-base-35;
      }

      &-required {
        margin-left: 4px;
        font-family: PingFangSC-Regular, sans-serif;
        font-size: $hui-font-caption-m;
        font-weight: $hui-font-weight-regular;
        line-height: 20px;
        color: $hui-font-color-base-75;
        letter-spacing: 0;
      }
    }

    .input-content {
      display: flex;
      flex: 1;
      align-items: center;
      font-size: $hui-font-body-s;

      .input {
        width: 100%;
        font-size: $hui-font-body-s;
        font-weight: $hui-font-weight-regular;

        &.right-align {
          text-align: right;
        }
      }

      .display-area {
        @include line-clamp(1);

        width: 100%;
        font-size: $hui-font-body-s;
        font-weight: $hui-font-weight-regular;

        &.right-align {
          text-align: right;
        }
      }

      .none-value {
        color: $hui-font-color-base-35;
      }

      .unit {
        padding-left: $input-unit-pad;
        color: $hui-color-grey-9;
      }
    }

    .input-array {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      width: $input-label-array-width;
      padding-left: $input-label-array-width;

      .array {
        width: 0;
        height: 0;
        border-color: $input-triangle-color;
        border-style: solid;
        border-width:
          $input-label-array-width-half 0
          $input-label-array-width-half $input-label-array-width;
      }
    }
  }

  .divider-line {
    box-sizing: border-box;
    width: 100%;
    padding: 0 $hui-page-space-m;
    background: $hui-theme-color-background;
  }

  &.disabled {
    .input-item-placeholder {
      color: $hui-font-color-base-25;
    }

    .input-container {
      background: $hui-disabled-background-color;

      .unit {
        color: $hui-font-color-input-disabled;
      }

      .label {
        color: $hui-font-color-input-disabled;
      }

      .input-content {
        .display-area {
          color: $hui-font-color-base-25;
        }

        .none-value {
          color: $hui-font-color-base-25;
        }
      }
    }
  }
}
