@import '../../styles/variables.scss';
@import '../../styles/colors.scss';

.header {
  padding: 40px 16px 32px 16px;
  text-align: left;

  .title {
    margin-top: 16px;
  }
}

.list-item {
  padding: 0 16px;
  font-size: $hui-font-body-m;
  background-color: $hui-theme-color-background;

  .list-item-container {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;

    &.with-border {
      border-bottom: 1px solid $hui-border-color;
    }
  }
}
