@import '@shared/styles/index.scss';

.hui-checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;

  &-icon {
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    &.unchecked {
      border: $hui-checkbox-icon-border;
    }
  }

  &-content {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    padding-left: $hui-checkbox-icon-content-padding-left;
    font-size: $hui-font-body-m;
  }

  &-mask {
    position: absolute;
    top: -10px;
    left: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
  }

  &.disabled {
    opacity: 0.35;

    .hui-checkbox-icon {
      &.unchecked {
        background-color: $hui-checkbox-icon-disabled-uncheck-bg-color;
      }
    }
  }
}
