@import "../../styles/colors.scss";
@import "../../styles/variables.scss";

.hui-badge {
  display: inline-block;

  &-dot {
    width: $hui-badge-dot-size;
    height: $hui-badge-dot-size;
    background: $hui-theme-color-primary;
    border-radius: 50%;
  }

  &-num {
    box-sizing: border-box;
    min-width: px(16);
    height: px(16);
    padding: 0 px(4);
    overflow: hidden;
    font-size: $hui-badge-num-font-size;
    font-weight: $hui-font-weight-medium;
    line-height: px(14);
    color: $hui-font-color-white;
    text-align: center;
    background: $hui-theme-color-primary;
    border: px(1) solid $hui-theme-color-primary;
    border-radius: px(8);

    &.smaller {
      font-size: $hui-badge-string-font-size;
    }

    &.single-num {
      padding: 0;
    }
  }

  &.hollow {
    .hui-badge-num {
      color: $hui-theme-color-primary;
      background: $hui-font-color-white;
    }
  }

  &.fixed {
    position: relative;

    .hui-badge-dot {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(50%, -50%);
    }

    .hui-badge-num {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      word-break: keep-all;
      transform: translate(50%, -50%);
    }
  }
}
