@import '@zaihui/hui-design/src/styles/variables.scss';
@import '@zaihui/hui-design/src/styles/colors.scss';
@import '@zaihui/hui-design/src/styles/demo-mixins.scss';

.grid-page {
  > .content {
    .group-section {
      > .title {
        padding-right: 16px;
        padding-left: 16px;
      }
    }

    .sample-item {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }
}
