@import '@/styles/index.scss';

.group-section {
  padding-bottom: 56px;

  > .title {
    padding-bottom: 16px;
    font-size: $hui-font-body-m;
    font-weight: $hui-font-weight-medium;
    color: $hui-font-color-base;
  }
}
