@import '../../styles/colors.scss';
@import '../../styles/variables.scss';

.hui-form-item {
  background: $hui-color-grey-8;

  &-wrapper {
    padding: 14px 0;
    margin: 0 16px;
    color: $hui-form-text-primary;
  }

  .hui-input .input-container {
    padding: 0;

    .input-content .input {
      height: $hui-form-line-height;
      min-height: $hui-form-line-height;
      font-weight: normal;
      line-height: $hui-form-line-height;
    }
  }

  &-text {
    display: flex;

    &-label {
      flex-grow: 0;
      flex-shrink: 0;
      justify-content: flex-start;
      width: 120px;
      font-size: $hui-font-body-m;
      line-height: $input-min-height;
    }
  }

  &-option {
    margin: 0 2px;
    color: $hui-form-text;
  }

  &-content {
    font-size: $hui-font-body-m;
  }

  // 水平样式
  &-row {
    display: flex;
    justify-content: space-between;

    .hui-form-item {
      &-text {
        flex-grow: 0;
        flex-shrink: 0;
        max-width: 100px;
        margin-right: 8px;
      }

      &-content {
        flex-grow: 1;
        width: 195px;
        padding: 10px 0;
        margin: -10px 0;
        text-align: right;
      }
    }
  }

  // 垂直样式
  &-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .hui-form-item {
      &-text {
        flex-grow: 0;
        flex-shrink: 0;
        max-width: 100px;
        margin-right: 8px;
      }

      &-content {
        order: 1;
        width: 100%;
      }
    }
  }

  &-rule,
  &-tips {
    min-height: 16px;
    margin-top: 5px;
    margin-bottom: -12px;
    overflow: hidden;
    font-size: $hui-font-caption-m;
    line-height: 16px;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-rule {
    color: $hui-color-red-1;
  }

  &-tips {
    color: $hui-color-orange-1;
  }

  &-disable {
    background: $hui-disabled-background-color;
  }

  &-normal {
    border-bottom: 1px solid $hui-border-color-light;
  }

  &-error {
    border-bottom: 1px solid $hui-color-red-1;
  }

  &-extra {
    display: flex;
    align-items: center;
    font-size: $hui-font-body-m;
  }

  &-arrow {
    align-self: center;
    margin-left: 4px;
    transform: rotate(-90deg);
  }
}
