@import "../../styles/colors.scss";
@import "../../styles/variables.scss";

.hui-floating-action-button {
  &-container {
    position: fixed;
    z-index: $hui-z-index-l;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    padding: 0 12px;
    border-radius: 24px;

    .button-content {
      display: flex;
      line-height: 24px;
      color: $hui-button-default-color;
    }
  }
}
