@import '@shared/styles/index.scss';
@import '@shared/styles/demo-mixins.scss';

.list-page {
  > .content {
    .group-section {
      > .title {
        padding-right: 16px;
        padding-left: 16px;
      }
    }

    .default-icon {
      $bg-color: rgba($hui-color-grey-1, 0.1);

      display: inline-block;
      width: 20px;
      height: 20px;
      background-color: $bg-color;
    }
  }
}
