/* stylelint-disable no-descending-specificity */
@import "../../styles/colors.scss";
@import "../../styles/variables.scss";

.hui-tabs {
  .hui-tabs-bar {
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0 0 px(10) 0 rgba(0, 0, 0, .05);

    &.no-shadow {
      box-shadow: unset;
    }

    .scrollable-tabs-wrapper {
      background: $hui-tabs-bg-color;
    }

    .hui-tabs-wrapper {
      position: relative;
      box-sizing: border-box;
      display: flex;
      padding: 0 px(16);

      &.normal {
        justify-content: space-evenly;
        background: $hui-tabs-bg-color;

        .tabs-item {
          display: flex;
          flex: 1 0;
          align-items: center;
          justify-content: center;

          &:not(:first-child) {
            margin-left: px(17);
          }

          &.length-2 {
            width: px(163);
          }

          &.length-3 {
            width: px(103);
          }

          &.length-4 {
            width: px(73);
          }

          .tabs-item-wrapper {
            display: inline-block;
            overflow: hidden;
          }
        }
      }

      &.scrollable {
        .tabs-item {
          flex-shrink: 0;
          max-width: px(163);
          overflow: hidden;

          &:not(:first-child) {
            margin-left: px(32);
          }

          .tabs-item-wrapper {
            .tabs-title-smile {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              padding: px(12) 0 px(23);
              line-height: 1;

              .title {
                max-width: px(163);
                font-size: $hui-font-body-m;
                font-weight: $hui-font-weight-medium;
                line-height: 1;
                color: $hui-font-color-base-50;

                @include no-wrap();
              }

              .sub-title {
                max-width: px(163);
                margin-top: px(4);
                font-size: $hui-font-caption-m;
                font-weight: $hui-font-weight-regular;
                line-height: 1;
                color: $hui-font-color-base-35;

                @include no-wrap();
              }
            }

            &.active {
              .tabs-title-smile {
                .title {
                  color: $hui-tabs-smile-title-color;
                }

                .sub-title {
                  color: $hui-tabs-smile-title-color;
                }
              }
            }
          }

          &:nth-last-child(2) {
            .tabs-item-wrapper {
              padding-right: px(16);
            }
          }
        }

        .tabs-indicator-smile {
          position: absolute;
          bottom: 0;
          margin-bottom: px(2);
          color: $hui-tabs-indicator-bg-color;
          transition: width .3s, left .3s;
          transform: translateX(-50%);
        }
      }

      .tabs-item {
        .tabs-item-wrapper {
          overflow: hidden;

          &.active {
            .tabs-title {
              color: $hui-font-color-base;
            }
          }

          .tabs-title {
            padding: px(18) 0;
            font-size: $hui-font-body-m;
            font-weight: $hui-font-weight-medium;
            line-height: 1;
            color: $hui-font-color-base-50;

            @include no-wrap();
          }
        }
      }

      .tabs-indicator {
        position: absolute;
        bottom: 0;
        height: px(3);
        margin-bottom: px(6);
        background: $hui-tabs-indicator-bg-color;
        transition: width .3s, left .3s;
      }
    }
  }

  .hui-tabs-panel-wrapper {
    overflow: hidden;

    .hui-tabs-panel {
      &.switch-with-animation {
        display: flex;
        transition: transform .3s;
      }

      .hui-tab {
        flex-shrink: 0;
        width: 100%;
        background: $hui-tabs-panel-bg-color;
      }
    }
  }
}
