@import '@/styles/index.scss';
@import '@/styles/demo-mixins.scss';

.timer-page {
  > .content {
    @include content-padding;

    .timer-page-item {
      display: inline-block;
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 24px;
      }

      > .title {
        margin-bottom: 16px;
        font-size: $hui-font-caption-m;
        color: $hui-font-color-base-35;
      }

      > .content {
        display: flex;
        flex: 1;
        flex-direction: column;

        .hui-timer {
          &:first-child {
            margin-bottom: 24px;
          }
        }
      }

      &.is-grey {
        > .content {
          padding: 16px;
          background: $hui-color-grey-5;
          border-radius: 4px;
        }
      }
    }
  }
}
