@import '@/styles/index.scss';

.color-page {
  padding-bottom: 100px;
  padding-bottom: calc(100px + env(safe-area-inset-bottom));

  .content {
    .color-item {
      padding: 16px 24px 28px 24px;

      .top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;

        .color-value {
          font-size: $hui-font-body-m;
        }

        .color-name {
          font-size: $hui-font-body-s;
        }
      }

      .color-desc {
        font-size: $hui-font-caption-m;
        opacity: .5;
      }
    }
  }
}
