@import '@/styles/index.scss';

.mask-page {
  .content {
    padding: 16px;
  }

  .custom-content {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 16px;
    background-color: $hui-color-grey-8;
    transform: translate(-50%, -50%);
  }
}
