@import '@/styles/index.scss';

.textarea-page {
  > .content {
    .group-section {
      > .title {
        padding-right: 16px;
        padding-left: 16px;
      }
    }
  }

  .input-status-group-section {
    padding: 24px 12px 0;
    background: #fff;
  }
}
