@import "../../../styles/variables.scss";
@import "../../../styles/colors.scss";

$hui-select-side-menu-background: #f2f3f5;
$hui-select-side-menu-item-active-color: $hui-theme-color-background;

.hui-select-side-menu {
  display: flex;
  flex-direction: column;
  width: px(120);
  overflow: auto;
  background: $hui-select-side-menu-background;

  .hui-select-side-menu-item {
    position: relative;
    padding: px(14) px(12);
    font-size: $hui-font-body-m;
    font-weight: $hui-font-weight-regular;

    &.active {
      font-weight: $hui-font-weight-medium;
      background: $hui-select-side-menu-item-active-color;

      &::after {
        position: absolute;
        top: 50%;
        left: 0;
        width: px(4);
        height: px(16);
        content: "";
        background: $hui-theme-color-primary;
        transform: translateY(-50%);
      }
    }
  }
}
