@import '@/styles/index.scss';
@import '@/styles/demo-mixins.scss';

.stepper-page {
  > .content {
    @include content-padding;
  }

  .stepper-sample {
    display: inline-block;
    width: 33%;
    text-align: left;

    > .title {
      margin-bottom: 16px;
      font-size: $hui-font-caption-m;
      color: $hui-font-color-base-35;
    }
  }
}
