@import '@shared/styles/colors.scss';
@import '@shared/styles/variables.scss';

$imgSize: px(80); // 图片大小
$horizontalImgCount: 3; // 左右布局每行图片数量
$verticalImgCount: 4; // 上下布局每行图片数量

/** 计算图片间距 */
@function calc-img-gap($count) {
  @return calc((100% - $imgSize * $count) / $count / 2);
}

.hui-content-list {
  padding: px(16);
  font-size: $hui-font-body-m;
  font-weight: $hui-font-weight-regular;
  background: $hui-filter-bg-color;
  border-radius: px(4);

  &-item-horizontal {
    display: flex;
    margin-bottom: px(8);

    .item-label {
      width: px(84);
      margin-right: px(12);
      text-align: right;
    }

    .item-value {
      display: flex;
      width: px(274);
    }

    .item-label-long {
      width: px(274);
      margin-right: px(12);
    }

    .item-value-long {
      width: px(84);
      text-align: right;
    }

    .hui-image {
      margin: 0 calc-img-gap($horizontalImgCount) px(7);
    }
  }

  &-item-vertical {
    .item-label {
      margin-bottom: px(4);
    }

    .item-value {
      margin-bottom: px(16);
    }
  }

  .img-content-horizontal,
  .img-content-vertical {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;

    .hui-image,
    .list-item-img {
      width: $imgSize;
      height: $imgSize;
      border-radius: px(4);
    }
  }

  .img-content-horizontal {
    .hui-image {
      margin: 0 calc-img-gap($horizontalImgCount) px(7);

      .placeholder {
        background: $hui-image-placeholder-bg;
      }
    }

    :nth-child(3n + 1) {
      margin-left: 0;
    }
  }

  .img-content-vertical {
    display: flex;
    width: 100%;

    .hui-image {
      margin: 0 calc-img-gap($verticalImgCount) px(7);
    }

    :nth-child(4n + 1) {
      margin-left: 0;
    }
  }

  .item-label,
  .item-label-long {
    color: $hui-card-body-color;
  }

  .item-value,
  .item-value-long {
    color: $hui-card-title-color;
  }
}
