@import '../../styles/variables.scss';
@import '../../styles/colors.scss';

.hui-popup {
  position: relative;
  z-index: $hui-z-index-s;
  visibility: hidden;
  transition: visibility $hui-popup-duration $hui-popup-timing-function;

  &.no-animation {
    transition: unset;
  }

  .popup-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    touch-action: none;
    background: $hui-popup-mask-background;
    opacity: 0;
    transition: opacity 150ms ease-in;
  }

  .popup-content {
    position: fixed;
    background: $hui-theme-color-background;
    transition: transform $hui-popup-duration $hui-popup-timing-function;

    &.center {
      top: 50%;
      left: 50%;
      transition: unset;
      transform: translate(-50%, -50%);
    }

    &.top {
      top: 0;
      left: 0;
      box-sizing: border-box;
      width: 100%;
      transform: translate3d(0, -100%, 0);
    }

    &.left {
      top: 0;
      left: 0;
      height: 100%;
      transform: translate3d(-100%, 0, 0);
    }

    &.right {
      top: 0;
      right: 0;
      height: 100%;
      transform: translate3d(100%, 0, 0);
    }

    &.bottom {
      bottom: 0;
      left: 0;
      box-sizing: border-box;
      width: 100%;
      transform: translate3d(0, 100%, 0);
    }
  }
}

.popup-container-active {
  visibility: visible;

  .popup-mask {
    opacity: 1;
  }

  .popup-content {
    &.top,
    &.bottom,
    &.left,
    &.right {
      transform: translate3d(0, 0, 0);
    }

    &.center {
      transform: translate(-50%, -50%);
    }
  }
}
