// 以/**包裹的注释块会成为文档中色板上的一个block（所以其他场景不要使用/**注释
// 行末的注释会作为这个颜色的用途解释
// ColorPaletteLoader主要靠正则匹配而不是AST，所以稳定性不能保障
//
// 颜色和文字规范设计稿地址
// https://lanhuapp.com//web/#/item/project/board?pid=215a153b-7194-4887-a56d-7ef061a3f95a&image_id=cee4c417-8962-4a15-88d1-6a4f05ef717b&from=nav

/** 基本颜色 **/
$hui-color-grey-1: #1e1e1e;
$hui-color-grey-2: #575757;
$hui-color-grey-3: #8e8e8e;
$hui-color-grey-4: #b1b1b1;
$hui-color-grey-5: #c7c7c7;
$hui-color-grey-6: #ededed;
$hui-color-grey-7: #f8f8f8;
$hui-color-grey-8: #fff;
$hui-color-orange-1: #ff6c00;
$hui-color-green-1: #00c968;
$hui-color-amber-1: #ffcb2c;
$hui-color-red-1: #ed3737;

/** 主题色 **/
$hui-theme-color-primary: $hui-color-red-1 !default; // 主要可用于可点击按钮、高亮文字等
$hui-theme-color-secondary: $hui-color-orange-1 !default; // 小面积使用、可点击按钮
$hui-theme-color-background: $hui-color-grey-8 !default; // 页面或元素背景颜色

$hui-color-error: $hui-color-red-1 !default; // 主要可用于错误状态的icon、文字
$hui-color-success: $hui-color-green-1 !default; // 主要可用成功icon、文字提示
$hui-color-warning: $hui-color-amber-1 !default; // 主要可用于等待或其它中性icon、文字状态提示

/** 字体颜色 **/
$hui-font-color-base: $hui-color-grey-1 !default;  // 主要用于可点击按钮、标题文字、重要文字等
$hui-font-color-base-75: $hui-color-grey-2 !default; // 主要用于正文、列表文字等
$hui-font-color-base-50: $hui-color-grey-3 !default;  // 主要用于描述性文字等
$hui-font-color-base-35: $hui-color-grey-4 !default; // 主要用于不可点击按钮，输入框提示文字显示
$hui-font-color-base-25: $hui-color-grey-5 !default;  // 主要用于描述性文字等
$hui-font-color-base-05: rgba(#1e1e1e, .05) !default; // 分割线颜色
$hui-font-color-white: $hui-color-grey-8 !default; // 用于轻提示灰背景文字
$hui-font-color-input-disabled: $hui-color-grey-4 !default;  // 主要用于可点击按钮、标题文字、重要文字等
$hui-font-color-stepper-disabled: #c0c1c6 !default; // 步进器颜色

/** 分割线颜色 **/
$hui-border-color: #f4f4f4 !default; // 用于1px分割线颜色
$hui-border-color-light: #f8f8f8 !default; // 用于8px分割线颜色

/** 背景色 **/
$hui-page-background-color: #f8f8f8 !default; // 空页面背景色
$hui-toast-background-color:rgba(0, 0, 0, .7) !default; // 轻提示背景色

/** 遮罩层颜色 **/
$hui-mask-color: rgba(#1e1e1e, .75) !default;
$hui-mask-color-transparent:  rgba(#1e1e1e, 0) !default; // 全透明遮罩层颜色
$hui-disabled-background-color: #f8f8f8 !default; // 输入框禁用色
