@import './colors.scss';

$hui-design-width: 375 !default; // 默认使用设计稿尺寸

// 将 375 尺寸下的像素转换为其他尺寸下的像素
@function px($px) {
  @return calc((#{$px} / (375 / #{$hui-design-width})) * 1px);
}

// 单行常规文本溢出...
@mixin no-wrap() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 多行flex布局文本溢出...
@mixin line-clamp($lines) {
  -webkit-line-clamp: $lines;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/** 通用字号 **/
$hui-font-heading-l: px(20) !default; // 标题
$hui-font-heading-m: px(18) !default; // 标题
$hui-font-heading-s: px(16) !default; // 标题、大按钮
$hui-font-body-m: px(14) !default; // 表单、中按钮
$hui-font-body-s: px(13) !default; // 正文、小按钮
$hui-font-caption-m: px(12) !default; // 辅助文字
$hui-font-caption-s: px(9) !default; // 辅助文字

/** 字重 **/
$hui-font-weight-regular: 400 !default;
$hui-font-weight-medium: 500 !default;
$hui-font-weight-semibold: 600 !default;
$hui-font-weight-bold: 700 !default;

/** 页边距 **/
$hui-page-space-s: px(12) !default;
$hui-page-space-m: px(16) !default;

/** z-index **/
$hui-z-index-s: 888;
$hui-z-index-m: 999;
$hui-z-index-l: 1000;

// 以下为组件通用变量

/** toast */
$hui-toast-border-radius: px(4) !default;
$hui-toast-padding-vertical: px(12) !default;
$hui-toast-padding-horizontal: px(16) !default;
$hui-toast-max-width: px(98) !default;
$hui-toast-mask-width: 100vw !default;
$hui-toast-mask-height: 100vh !default;
$hui-toast-position-top: 32% !default;
$hui-toast-position-left: 50% !default;
$hui-toast-icon-position-top: px(6) !default;
$hui-toast-position-transform-x: translateX(-50%) !default;
$hui-toast-font-size: px(14) !default;

/** input */
$input-space-v: px(14) !default;
$input-min-height: px(20);
$input-label-width: px(140);
$input-label-space: px(16);
$input-error-msg-left-space: px(86);
$input-label-array-width: px(8);
$input-label-array-width-half: px(4);
$input-triangle-color: transparent transparent transparent $hui-font-color-base-50;
$input-unit-pad: px(8);
$input-background-color: #fff !default;

/** button */
$hui-button-default-color: #fff !default;
$hui-button-disabled-color: #c7c7c7 !default;

$hui-button-border-radius-default: px(24) !default;
$hui-button-border-radius-square: px(4) !default;

$hui-button-height-s: px(26) !default;
$hui-button-height-m: px(36) !default;
$hui-button-height-l: px(44) !default;

$hui-button-font-size-s: $hui-font-body-s !default;
$hui-button-font-size-m: $hui-font-body-m !default;
$hui-button-font-size-l: $hui-font-heading-s !default;
$hui-button-font-size-extra: $hui-font-caption-s !default;

$hui-button-padding-s: px(12) !default;
$hui-button-padding-m: px(16) !default;
$hui-button-padding-l: px(16) !default;

$hui-button-type-text-padding: px(4) !default;

/** Textarea  **/
$hui-text-area-min-h: px(88);
$hui-text-area-box-min-h: px(145);
$hui-text-area-p-t: px(14);
$hui-text-area-p-l: px(16);
$hui-text-area-i: px(8);

/** Switch */
$hui-switch-height: px(24);
$hui-switch-width: px(39);
$hui-switch-dot-height: px(22);
$hui-switch-dot-width: px(22);
$hui-switch-border-radius: px(14);
$hui-switch-dot-box-shadow: 0 px(1) px(2) 0 rgba(0, 0, 0, .3), rgba(0, 0, 0, .1);
$hui-switch-border-width: px(1);
$hui-switch-border: $hui-switch-border-width solid #e5e5e5;
$hui-switch-disabled-background-color: rgba(#1e1e1e, .05);
$hui-switch-default-background-color: $hui-theme-color-primary;
$hui-switch-default-disabled-background-color: #f5bfbf;

/** Checkbox */
$hui-checkbox-icon-border: px(1) solid rgba(#1e1e1e, .25);
$hui-checkbox-icon-disabled-uncheck-bg-color: rgba(#1e1e1e, .1);
$hui-checkbox-icon-content-padding-left: px(8);
$hui-checkbox-padding: px(16) 0;
$hui-checkbox-border: px(1) solid $hui-border-color;

/** Radio **/
$hui-radio-content-padding-left: px(8);
$hui-radio-icon-disabled-bg-color: rgba(#1e1e1e, .25);
$hui-radio-icon-border: px(1) solid rgba(#1e1e1e, .25);
$hui-radio-border-bottom: px(1) solid $hui-border-color;

/** Tabs **/
$hui-tabs-bg-color: #fff !default;
$hui-tabs-indicator-bg-color: $hui-theme-color-primary !default;
$hui-tabs-panel-bg-color: #fbfbfc !default;
$hui-tabs-smile-title-color: $hui-theme-color-primary !default;

/** Tag **/
$hui-tag-height-m: px(18) !default;
$hui-tag-height-l: px(24) !default;

$hui-tag-font-size-m: $hui-font-caption-m !default;
$hui-tag-font-size-l: $hui-font-body-m !default;

$hui-tag-padding-m: px(11) !default;
$hui-tag-padding-l: px(11) !default;

$hui-tag-default-color: #fff !default;
$hui-tag-semitransparent-background-color: rgba($hui-theme-color-primary, .2);
$hui-tag-hollow-border-color: rgba($hui-theme-color-primary, .3);

/** List **/
$hui-list-item-tips-font-color: #8e8e8e;
$hui-list-item-description-font-color: #8e8e8e;

/** Grid **/
$hui-grid-bg-color: #fff !default;
$hui-grid-text-font-size: px(11) !default;

/** Stepper **/
$stepper-height: px(24);
$stepper-btn-w: px(20);

/** Tooltip **/
$hui-tooltip-tip-translate: px(20) !default; // 箭头中线离长方形气泡最近的距离
$hui-tooltip-arrow-width: px(6) !default; // 箭头宽度
$hui-tooltip-arrow-translate: px(14) !default; // 箭头相对于长方形气泡的偏移
$hui-tooltip-tip-bg: rgba(0, 0, 0, .7) !default; // 气泡背景色
$hui-tooltip-tip-margin: px(-9) !default; // 气泡离内容的距离

/** SwiperIndicator **/
$hui-swiper-indicator-item-background-color: #c7c7c7 !default;
$hui-swiper-indicator-item-background-color-active: $hui-theme-color-primary !default;

/** Badge **/
$hui-badge-dot-size: px(6);
$hui-badge-num-font-size: px(11);
$hui-badge-string-font-size: px(9);

/** NoticeBar **/
$hui-noticebar-default-color: #ff6c00;
$hui-noticebar-bg-color: rgba($hui-noticebar-default-color, .1);

/** HuiPicker **/
$hui-picker-duration: 300ms;
$timing-func: cubic-bezier(.36, .66, .04, 1);

/** Image **/
$hui-image-placeholder-bg: #eee;
$hui-image-placeholder-font-color: #c7c7c7;
$hui-image-placeholder-light-color: rgba(#fff, .35);
$hui-image-placeholder-font-size: px(12);

/** Avatar */
$hui-avatar-square-border-radius: px(4);
$hui-avatar-circle-border-radius: 50%;

/** Popup **/
$hui-popup-timing-function: cubic-bezier(.36, .66, .04, 1) !default;
$hui-popup-duration: 300ms !default;
$hui-popup-mask-background: $hui-mask-color;

/** Modal **/
$hui-modal-title-font-size: $hui-font-heading-m !default;

/** Share **/
$hui-share-tip-color: rgba(#1e1e1e, .75);
$hui-share-content-box-shadow: px(1) px(4) px(6) 0  rgba(#000, .05);

/** Timer **/
$hui-timer-card-box-shadow: px(1) px(2) px(4) 0 rgba(#1e1e1e, .05);

/** Footer **/
$hui-footer-font-color: $hui-color-grey-4;
$hui-footer-font-size: px(12);
$hui-footer-padding: px(24) 0;

/** NavBar **/
$hui-nav-bar-title-size: $hui-font-heading-m;
$hui-nav-bar-z-index: $hui-z-index-l + 10;

/** Form */
$hui-form-text: #767676;
$hui-form-text-primary: rgb(0 0 0 / 85%);
$hui-form-line-height: px(20);

/** Card **/
$hui-card-title-color: #111;
$hui-card-body-color: #666;
$hui-card-detail-color: #333;
$hui-card-button-border-color: #ddd;
$hui-card-primary-button-color: #1577fc;
$hui-card-check-color: #ff7d00;
$hui-card-check-background-color: #fff7e8;
$hui-card-logo-background-color: #d8d8d8;
$hui-card-assist-color: #999;

/** Filter **/
$hui-menu-scroll-fixed-top: px(0) !default;
$hui-menu-scroll-fixed-z-index: $hui-z-index-m !default;
$hui-filter-bg-color: #fff !default;
$hui-filter-menu-bar-padding-y: px(15) !default;
$hui-filter-menu-bar-padding-x: px(16) !default;
$hui-filter-menu-text-color: #444 !default;
$hui-filter-menu-active-text-color: #1569ee !default;
$hui-filter-menu-text-font-size: px(14) !default;
$hui-filter-menu-item-text-padding-x: px(4) !default;
$hui-filter-menu-bg-color: #fff !default;
$hui-filter-menu-item-wrap-bg-color: #fff !default;
$hui-filter-menu-item-content-max-height: px(410) !default;
$hui-filter-menu-item-content-padding-y: px(12) !default;
$hui-filter-menu-item-content-padding-x: px(24) !default;

/** FiltersContent **/
$filters-content-popup-top-content-max-height: px(410) !default;
$filters-content-popup-default-padding: px(24) px(16) !default;
$filters-content-popup-left-right-width: px(300) !default;
$filters-content-button-container-height: px(64) !default;
$filters-content-button-container-padding: px(10) px(16) !default;
$filters-content-button-full-width: px(163) !default;
$filters-content-button-side-width: px(126) !default;

/** Steppers */
$hui-steppers-step-desc-color:#999;
$hui-steppers-step-active-color:#1569ee;
$hui-steppers-step-active-title-color:#333;
$hui-steppers-step-live-title-color:#111;
$hui-steppers-step-normal-color:#979797;
$hui-steppers-step-normal-title-color:#3d3d3d;
