@import '../../styles/colors.scss';
@import '../../styles/variables.scss';

.hui-toast-box {
  &.mask {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: $hui-mask-color-transparent;
  }

  .toast {
    position: fixed;
    top: $hui-toast-position-top;
    left: $hui-toast-position-left;
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: $hui-toast-max-width;
    padding: $hui-toast-padding-vertical $hui-toast-padding-horizontal;
    font-size: $hui-toast-font-size;
    color: $hui-font-color-white;
    text-align: center;
    background: $hui-toast-background-color;
    border-radius: $hui-toast-border-radius;
    transform: $hui-toast-position-transform-x;

    .text {
      @include line-clamp(2);
    }

    .icon {
      margin-bottom: $hui-toast-icon-position-top;
    }
  }
}
