@import "../../styles/colors.scss";
@import "../../styles/variables.scss";

$prefix: hui-title;
.#{$prefix} {
  display: flex;
  align-items: center;
  padding: 0 16px;

  &.small {
    .title {
      font-size: $hui-font-body-m;
      line-height: 20px;
    }
  }

  &.medium {
    .title {
      font-size: $hui-font-heading-m;
      line-height: 22px;
    }
  }

  &.large {
    .title {
      font-size: $hui-font-heading-l;
      line-height: 28px;
    }
  }

  $font-color-dark: #111;

  .title {
    flex-grow: 1;
    max-width: 64%;
    font-family: PingFangSC, sans-serif;
    font-weight: $hui-font-weight-medium;
    color: $font-color-dark;
  }

  $link-grey-color: #666;

  .link {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    font-family: PingFangSC-Regular, sans-serif;
    font-size: $hui-font-body-m;
    font-weight: normal;
    line-height: 17px;
    color: $link-grey-color;

    &-left-icon {
      margin-right: 2px;
      font-size: $hui-font-body-m;
    }

    &-right-icon {
      margin-left: 2px;
      font-size: $hui-font-body-m;
    }
  }
}
