@import "../../styles/variables";

.hui-filter {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  overflow: hidden;
  background-color: $hui-filter-bg-color;

  &.fixed {
    position: fixed;
    top: $hui-menu-scroll-fixed-top;
    z-index: $hui-menu-scroll-fixed-z-index;
    width: 100%;
  }

  .hui-filter-left-content {
    flex: 1;
    overflow: hidden;

    &.custom {
      padding: 8px 0 8px 16px;
    }
  }

  .hui-filter-right-content {
    flex: 0 0 75px;
    padding: $hui-filter-menu-bar-padding-y $hui-filter-menu-bar-padding-x;

    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: $hui-filter-menu-text-font-size;
      color: $hui-color-grey-2;
      gap: 2px;
    }
  }
}

// 下拉列表动画
.hui-filter-animation {
  .popup-content.top {
    transform: scaleY(0);
    transform-origin: top;
  }

  &.popup-container-active {
    .popup-content.top {
      transform: scaleY(1);
    }
  }
}
