@font-face {
  font-family: "hui-design-iconfont";
  /* stylelint-disable-next-line scss/operator-no-unspaced */
  src: url(data:application/font-woff2;charset=utf-8;base64,d09GMgABAAAAAB9IAAsAAAAAQvwAAB75AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGYACKfgrnTNRiATYCJAOBfAuBAAAEIAWEZweHXRtNOGWGGGwcABzb3whk//8tuTGGeoBWP0iZDSslONzB+zQ68DL2yFbUkcFGK14oMut1LcKqvalZY5DEp/j0ZXmYHTCZpKuGlUha5YTOJn0Le7mv8Oc8qwylJHh+v2/zZM0U9U4kJJOQzBJUQrHSlkSjiqd7kCz+l9bKzGwG8LNwRKAqZP3LCiE7PL/N/6PURe6FC2IAFheMBkGwJjjQnqCEuYeRwdqVTrfWXro9FxH/+d9btNsrXerWz1W439pbsikmM38K9DwJU6N5oQzHMLGJLbCwB6RMrwEQAXG+v71WN25Ni1Cd7uz00+eHALkC+S+EDpDsbNqjF5zaMpMDpv1gzkpp9ifPzl1bSQ7ccWhnjwAsexCLlI/9tb5kaDkOeQnAiRMmBk2ztfQ50aQzvE4+AP7/a37amUVw3xayeFUrNCtVIee9meTnDST/5cM5b/JpkqX5+QuTj7hZIFRlDPZMFjNLnFVFkux7PJFRZWEqJalaXVlhZSHLxrrHgwefJhwROzLqIKf9X+ja4dJBSUmJNIgs880/zkUG1NvaKz/8J0YLqGd/q0oAW+m0aQYejbOz/3LTAbQshgnjM9onSQ9YAnafdpDf9TLAPfTBZ1/xySAAOVGAk5Ojx0OzwNmnT6d+FsabQfEWfxMZkD4HqoACWOSsJL+VHM6uQLfIooLF2bRlWgDWjSplaeb/9dPp9DF9Td8DmXzGy93x/Q2NjNPnldc0D0z9rFzIJ516+l/6kL4MTz+vGM7WQ1+8bmDJoP5YApbZnyffa7/ZlHzGFTmKVAyt4msGNv0v8FoArdq0a5Jb1GnekgXLVnRpsLXJZltstW6b7XbYqcXDbnvstWZKtx69+vQbMGjIsEkjRjXqGVcHCQPVmGhsxqw59bQEp0BWDUDDRkD+063dS3oKgVbSFNBGega0k54DTSC9ADpIL4FF0iugk/QamCf9ByyRpoEF0gdgmfQRWCF9AbpIX4EGkL4Dq6SfwCbSDLCZAMAWwgTYSpgC6wQO2Ebgge0EAdhBEIGdBAloAQEBuwgysJswA/YQFGAvAQNrBAJMERjQTfCBHsIR6CWcgD7CFegn3IABwh0YJDyAIcILGCa8ZSxUAQBGCCEwSoiBRhCzgDEiWMarKgdAHYhQoAQRCVSBiAMmCB1QDUIPZCDygGYQJcA0UQrMEGXALFEOzBE1QD2IZqAWRD9QgBgAcvDpZxs1APv8/VwCfG9bBLoegpMvs4VgjrlBJhkegox4BL20Y1GSME7GZ0VFNE6sIFR41yNQF2meSpKySB2QRFfjtKVsAnYp3DSuxJqVsmR2zOvAwxCw2tYasVKiMiFdvMOet6T1HFFW3Erekz9KGVNgxGra9VJpWDrlQnk+avTs79wY15uXTKMUhhCZ4tmy00lnN53EKEvj1DnyfoBb6wJ1rZQjFWf7ECJmWf2HKJg0FGkW6v2biTulPRHzcxySCjlYq3Za3hi71zEfskVLmYqg1OWQDUuWfPGOU6fVmt3Led+glvJdeHv0LevtLWTa7HJEVuvauN33tjsp38by3LFVBEOG4cnE3KojalusQEQq6LLIxMzH5v1uQFYlN9d11Ecfdcfo5UkY4JWRHLRa9O0i2utTYKsSoMOpuf6L1ZUf1teaK2s/rq43ORuIuCyrM18/ZJyXkH8RZ/2u2+Op15/ysxt7AEZpiGuIep/fALnRfam1IyaxNi/L4nIMdd/4vcKZEzAZscF2XTGSA4yoZQQt/sKPFpnhvQSzi3r8/pKlhmRExHmUAEoTHzcqP8vcOwM+lnt3h9/xm2fdszf8q+e8C7eXEcjjLapydSqAwRSkfc3J6kgW6KNx2sMjngNg7uKxsz6dRniemgZJ/s5WUZGIgY/HCgFBqQGM27DlR2QtvDKl2vl90AGZlAnvmL/QkSjCm6MmSjswBtQUBwSPElbnpqMVYkzoF1wCXkTOEFNzETI0j8LqITxdHa00oSc1ppwzhUDqFyqDnX+x1Xu5jNOTxs1UaBGW3sc3PwkSp1vMQp6LM4qwGh8BBXgEJke+adD0SSggWAYR8CBuOwQZGz5uar1MgrezQuSLQvASPV7WJkI5D9dgiUCaKLo+WMWHXlnaWZMqbtcc8q5+guWueatCO3VFBU7REjl0QAH6iE40jcvwn10tRD/BBheTAcME8MdN0leVoc0jbCI8JXqeCya+sWnZFkCQQtEwPc0U77ldv++lf9Df03DGMGHLumByz0iewnbtT4xixBDlqRehRWk/ZaXfZdchC21+MxzaQ8RmmjobMHJT/jPDN2buJd7J8M1tinBoaKL5FAj4QH30201/TV1dQOZA9nRpob9qVDct8081Szd5ehpMQ6B8hiZ6ognc3QmAUS4bJqicsgsULtlAifignXxRppbV1W20/OkKZY+F1ZQi2TxUTX4nXfxbwdg019dUc4+CxI3Dr4+erq3rJu8BjCdQy07Bdj1tiPfcFiv/5FOSTikwaoZ5Ie6IFlU63X+b68jaXtpMoZ6rKcTNv+8hu/HQxEh08/D5nFFsVCl9NPr1iHAnIbbu/P1W7OLLB6tJdSAo9lgmaIB48aMx1B8627Vpel+aRuP/emHfuMKiUFD0TJE9hpWieLj73J6HjjwsCZFEVbsZyM/LMSEEdfIPT5f3j+/ajPcWK39C4ANgE0NOCrh75Ng4pREUN7WnakpR71mzw3/hC1fyiMw8HPAyiKD5DHEdKfaPhqgIQYpS0DcUzqKuPRM9+u9nd3/aqfLXjz4dFhYOvKLwa0KZj2raprse+df/Zl8ef1Ub/vrVHWX4INHfl654dB8KinJeY9TJglvFqhkWz3rurfvhtQfzgursdkzdIQ+cJhaSeqw0XBKwYe9Rfnx/CZ53puBZgmMJMLZafeboTkIktkSrHS3YKsZWEyaDxxIXNdI/Zw5ii+tWsi2Tqu6xzioybNk6h+jhjnTL01rR3GXaU+hY8HHXcGhaAiuKAlnWRF9NO58f6O6yo9Wq5GY9fTPX5M75Z/dD/Q2TLm4In9o3MpRzLchZc9CD1iB+sJHaoZfEcbBB7iUbDBYMPEvTVm1kDasLNiQse8Duh9q625g8WuVmvs/gxPumDdTUSEOYyr1TKQxIZOdETUf/LurX2kd2FMNeNTm++5fQX4oEHFhPS27K2LFoZDGipSJ49qgHH6zsu+jZ3fmX1z/N0au5pAk5OnhdBr+QoUBspagcm3E1+fzqgpcaEcJvquBHYOyigNHHkdphIUBsKjZ1Xu8Uw99uLYK16dBTc/pX/CCxTesZFOjjkr2wtrC1ILAoebYJQWRiOkyaOqZTDsvW/fWtGECQId1Hjx6Wvq92VaMCfDjWLhBR5C3Npbk0R/Ml/r2yykZ9HUWjU9MxvAfQbqjYluPMd23ayVbKOIVqYyKA9qEzNxDXMsHpwLLOJi/7H2hchhtn3HM3+bXz3vlbH/DBwL2d+XeH3ljefNCnyjO10TugkJk61StbmRo2mSIsZFKlliwUalNl1hKKrZGh7auRDe76SCpy36QdngDzjiPoiB/dCY6qIX9zu4+z3nihqm0eoAlLi95h/rFdO9/zQ1nJErdY5CpRgRHm46fEzkqfUcy/to8x3X+9WejVvfKJ2nMFffALktKODnxJjqFnt8ZVlCakNaC9YLaKz0ZaSZh/wj3JT3unFrvqh+0Y4onbmnrEaFBb4nyHMD8GvNACvW4s/H/p9zzDFQI7Db6+kfVo7h4sr4hRh9/czicAjJpvT+sdXk229QZbctboVlp+rT3eH0KMB4b4WpzILKTDUTj+V//QMoKsCxwviD0TX8pGU3j12y1SvGwUJXYr/mDgoItHaVmnhhNZsLaehmD1RhpvDOrNMvMgbNj0JFxSPp6wvaO1tvT+kt/3bvrX3RsOl67wlaebY8rKQpJIPVgRgeIOTCyibR3Q6zpW4iO3APN3BqB38DIBVBw+nkO8G75C4WKLJJMVxaQ1o99lJ2Jpr2E7rB4lZWSRYRN9g5ZgQXal0b9WF2wP2D4S14dY75JIaAqZMA1rfWzuneYn3ROI6+DGyHrKOz0BI5SUghOTzFtNX9MK6/zqutbk7ShdWfVSvSV8urYiBH1HvRLY8ruaDzNLZLqHFarUYjSobXkYjHJsrOdr5mQoMqYc7ZGJSkr8jONcwojLk5dDmCewnjz6CdqkQQ8Ovu3BRZ7WUe21bG55+dgGVNpEk1QmntIz+r9GFkSzRK8njPS+vkmSeke9ktTaldZX1o3Xjiy33WhloaqNLfGDDWrZxdX9ITumqSMqgMIR40JmxuVuhzxm149e/wgs+y0mDTeddX9o9y+dGNj249uTykn/d+pCI7vdTfwL5n0LniCj9rvsxxJHDqDA/Y3ZEOWGx5Dv36Kp8z7DpyR3ApUl4ccMLwXjy1GJpa+AloDSzkewLbc4My4JictaXSCSJ+ofyCgVKUOKRiUaGEqfmEKu4KYkWFE7KArq3dx+jq/ZCdx9iR6uH8xAfrTorcCSVLKsU59rU6IPyGgtugN1KzQQFuOlggJz0giLsWV3CR1NFrnEE66gSzzIyhqRZ7UmHS2lSCV2exZU+opO1Ve40ew9K24pCmzRWfKVzmpMW1ymCAgkuEvoSvs8ZTCIzCOpc0XJAn1Pj16QIkqlbhGIMjPpEl5JMSalazRqLDERU89L0nYc4fCKi304yIqs76HK5K1IPDurNjOzqKiysgr7pb3dwJO8cy0syszMyRrUwENJ4HgymuHRrSy67HS5T7XbIwMFpu8YUXNgPTxnq1991OK5lCF39Zph7dYLMPSwqfdbImTFdKPfdW7OaHfNAqlP6rM17v+B7iaQZPCyHdKzsAsEDjh5Q25QVmBgVlDue9/7wKyswNyg95FIeQeCsc8vKGmcH2LtdRpj4MQ4IV6MYwgni44IvQrPHFs0ydLhRDghToHTQcvLe4qmR3bZYVcXC8D9SSgIgs5CflgYAg3cRfDuQeeMBSmTozmEYIgcTuYgILWR5HYCX44mk2TROSNOEIkS8izEn3drI+MNssPYg2F+4gyZUW4EJYEQtBE6Dikk81pO7W/SwJqDTVOP3IEPTm561hy547aXjkQg9L239wIKEJqwyXGv6z0TKhfZ4z1u3W89UTZRm4uevV42o69Lt/sN+PWD3IDU9KyQNrIi7b/DJitGaEIzY8L7lPvBYj/S1BeVME+Iidzyy/FaPA+vw5fDnHh4beOiedAuqCMVctJtHdKi2m1bZmcotQPaBcZmSIlTg0RSKobM2P0z8U9CbGhhAbi7Dm8/BKNKyR5FgN3EPxNLVgpIlgNjRldcQ+wsXgFNET5X9SmkCcnJ2aZmbao2Z3W/2LNf3Nn9Kxv4DKz0dESzyHHR9KDZOcrfNxJD6C7entXEbpRYQUS77+mVdKKOSFc669BgCtU2FvX1gyAmQY97zBmm2JhbBFJCjd9k7YLRGA8pGmBDowjQ2Q06iq6wrkKvoAQH3xcxFCeEojPTOXL1pEaWLwh7IPGEU+5/VK6osfa/VLSaWJ2dvWh5Mc5ll8t+mohK56N8c/7AiQGCLSONbOLsQvMOD6eZjfywqCyzcmo5TKNwbUMo9kH6JJRmNcx3BHVbt7V30JjLoZ3kaV061eXQCSjp8qHe8NDEWOfn7knPFYnq8LBDg12DqXgqgwOHTQXOyKh0m0ydMwNGuTyNSqeehRxo6GkARiB3eErlkGY8awTXljBPuDhlZ8xvQ5e8otZ0ctVNjSpuPJZimhrHU3MbmrgqTAOSQb7X3A3mO803zPXKB6bJmxWNDVwVL/7IvnzdMr85poZ4j4WdnREe8YY5fisKi5YHzDGN7SdLQYGN0ja8J2C5psYnbZbnJYn0Pj56UdJ1C7l1vU+S6HpEV2w+2uhIY+jRox4RqA26CsUEODFAQNSHQMfMt3w4HfG5ZjpoU2e7H6f8euroYY2p3W9bZ3MwYY34Rswa35/KbJr2v8UpnkoVOBQXPL2fSlyjYPS/cHzezRRriSnk7D3Ruj3ZQNj1JzaThBsMM5FbdjvtSuDp3IOlLBvqXYKWUIjXEQoIofhrSNb7cwDG4EHznxYrAx6yYChFFQdG8g5utEAPITYsZyD+r6zDxZ54bYrxmFDGOuXhuKszzm75OeSgbQOfoepwoctbSeCRhQpB4eDlwTAdLHz+UM8MpcXizr8KjPzDkCwI0vtEWCcxo7yJCY1sTXOr1vZDWTNfbXc8ZINEH8Gym1Mu8HZy6de1F2SmrzxceUCNEsy2fNqXviC5z7ffxVIWLPfemFt35Js02irMZdbHcHZpvp3SPkJFiOQo2bOnWW+OtHwSSpWi9vhZUu57oT8Mkc2pc4xi1vnzLLFkFYnBWFcNj2YL39N52rZfA0AZRHlj8cYS/EBeL6bMWP60HLcYj9IRt6V6KHXml01O3oq0aD9D8bHAN+E1Qn5luZLxgtDw3cRq72Pv3667x3+K+ts+wUEeWVF11CcbP991MTx+LrE4sYii3fIAFR5ou3Yw3ASYlqdmPCtxtK41lXt2n8Y58mXG+R1gchmI932ZnHJJHKPeYytX4dgi9j2mh2q5szy5qH9C+qDj3F2Tl6k7LNN3PCN/lULsVd+l31eZEcjwYlUiaWb/8jpiItEzzmEI5x7trFvmRXF0ixZn+NdKWO7RYTrD482Orweav4izEMzIPqlsuNRiA+ELdFRDlRehmNjaZ4gQewnaM/jXrMweVELwM68YEYfTw8V3HXl+7Btkj+GUuL2FYtceBAyJVdFRmS7S2BDnL3/++eU6tVhppkt0lFuGVBxm+9YnOkF9JFzcF9NezaxuGYhal+hIgtonGiBhYin4ubexVUFV5CgQZUMLVOsmy9QI4ry91QLNRQsRqlIjuBTJKSPEvRr43/TiacFhXjxX1dig5ladZNN8MNerlfok9poL8kEypuGqGprU3DheqmlKPKbiNjXu/Nj5nS7wvbnEkLZxOcLxKS7GbJBjS1UqLC4hQc3TaOlSUfQ8pfTMzJlVaeR5qdQUkV7Y0y3Qi1KoqVEMMDpeOzGVIAB2dOC5doV1ufIAIg6u02Qio+5QWLMPdgLTxDv6+pxgaDW+KrHnD920+uW40UCWaOokOKo+ryhv2hhsPi9oOvIHtP7On5dqk37Xo3fTKF4OKElPCmFEM9tm2FYJqhVXjsWQE/ltPqLK5NWlyZfFYPy/Z4vfMNrZNfJoVfPF1ChWdOcma41D1l4D9sdOa+mERsPJ5mUfSuO9/ONZV6A8h91u/mbxs3U5vu497/fxFnrf8Kb92LkE87afOYs0ZGct5o1N8L3vgADhN9ipdjpyzaUNKRGW7WDtRsrGcyc9zTiRhTsOv2nWvGsGb3y09TT7zlbLtiWC6N6MwIz9LwNf7oOJxu7VBGYE1lBnqEu/1FhEdsWarbFMVdKSJCkjkl1zNbexkavG4g9biLBQc68ZO4yhhAODyCRivVCoFwv2Ctm9MEl8PZKNZiAyLzNJmZ/nYE8+Z5IeHysxZWb3/fUX9GN3E2IvgzMzHCXHCOdtlRl5g2xeV7EHebd1x2QE1/nMohnTyyV6T0DzC/yn9wYji7dj2xcjwbDcTj6657r8ukWp/jjfJfrKwfn8hJNM9qxLC7vK7vUdiXkOKi5eCfTj60/y1/zv0oJICXoRkK+Q2eRsRjb5S5g1g3WJPJc5l3zN9sxLDus39rFutnzi/W4RObv7WNI1s3/MjPAW9VIvvBJPFy4hDou7j4l9X/+U3U4po9SIIyIWpo4iQ8ho6n1aEeIaMxWe18KUEgQEKbOFB/bK7IIf2fXZPQr2xNvr6lasnesjudX1U4w+KhHdTWOi/ag9zYbqse33FsWB43Lfsozjq5WFx5srdtpjA7xOdgS7M2zQLcJtkCtnayVaX6VE2Zdym65yUNH9ldHS489pBLKUhm4zpl1Y3KAydajzbGen2S7KAQsRlvC5+MF1S/BYOxyPD8UJap2UwHgCXCg+flghq16wYFQouuPloZWg0vju+KOS13RHdPM5IW27CkaUIwW72jgh64JXFv6q/LUwHX84wrwXug5BAsg/PeBrUtThbI8/M0WfINTg75wyWPC7u1TcOgQg8TCBANmCNPIZ8laXCYYTV7CGTYugmUULfiuEre2Fv6UgzhkdLqSiyKUlNIPKQ02lLPrTBDrmeGQSsQIBphOto2ZsJRGy9WgFfl2b1+6bYr5CUychhvb7EO4YxkjY8p4RoJrkiyK+ruKVmv3DdAak++99tK213Q1P7696InxStW8a2T0y8348Iza7kYf7ot9z7X8I77attVKuRVXuShcC0T1Ehnb97AJyd4UrnuQul4G1L5ZQRVSuhEsVU9v805UhmuQty5YNJWqQwazczMzCwspKqQFr78B+qaqsKPqJOn+1WcC3QrZc7sAz6+TZWDKZlja88q88elrMvi4EIKdwIpyrDEHhmMA3TpkrToEDJ2GhQs6pljhKdBx50zy2IyfEj6OTEI645qP54/4TthOkSdtJFiufNfKsPv84KFBWupr+D5fEvZGg7z1fZpAYmJgYxjrXy2Y0bJoimXdC34ReHL4jZ8l0TCzGGesh5kxe2PkZVWTlUsPoBqNKcO3aWCGjpjGCkIWj0XBZBJfr78VlvIPJBvzPDY/QlDQKTUEboSrc50L8V222m/M7V7dsxujuEFdwrurI2ErsgjDL57xDO7lKJ91KHx1FC7PWt9esDyqMKKzesNIxPDI3ZIeGB60nVWB9xCwReUXS+NEyL+VRJya1fepWzg8nUwzDuZWnzdET059nSnBvjCKcX7bYSqxPeZT500LmFVstLuMrwn/+nDrr/5L5WnW+/XgCNT+dWVKSYviFwaW8sgjjQyA23Op6MAmiSCLMTWJwx6+BUA7KwRLBfxyOEDWDqWc9+j3O9p9De+C+i9EJ4m6XlxJ7c/92679JEhrXytSD5m7haZ0W+rT1f9IUoutYPEzeI7kGrWBdCOQILTJobgiXxqXSqXY0O8QJbyFu/Hv3H81v5i20C0ADyBR2OCo7r+hLmJzT6LJi5crHSW7BqIJNITu3D/+Vte+Dv7+d3R3/aWcPmk9kIgNG4bL/fVO6aF1MlJFhLxfCXE99CoNmndKGwjYw2jaLZpNqc6OljJbulE4rM/Js8d5jw+nR/xaMFl7l1kZE8CLysnOsmXkxNRG5YopYLA8zMpikTUTnR6QdaQ68AX/7VDyOcygnXeHO5yvbYaw1C0lbRNanZcN4eRlErIbXEqog0gai6yPSMtIm2oAROxheLKaI8jbSOXZaS3tijnTcskxSOVvLoYwYR/7ckXV8JlNFgyJwuXIa/hMuLicm6Ggu8lQAlduN5Q75Sydx40/wtMjZzhUSDh7jU0DeyEIrF5EiTxq8NHjdc2EBBCarzDQvUPE8NS3lShb1DPDQLCQJniqs3YpTBdsVccgZeJKcdRZS0kZg46e+Z+UBnjB3qNT7tD0sNTmP2kzWhSey8Of4SP1q50WAgDKbp155JSfR0sRVQeJRk7PQTom2YsMHaKH7rBHpwHpPlfXP1Ym2e1V6RR4ZbHnDl7iNn8tx3SI3Kg9LYCX9r4J08OBge4KBFvRNU/7zwU4f2z58QKHKoRJUq0Yt7iRnEpt2sxXCxZb/Z2Aa+0rcby8oCoLty4JdDMwcqD+vBP6vQlW79+LSOoixT3RIWrhySsNV0Pp8OXjuquLsXdW0l6vewpGDN8hdhMNKMgDTrn+5GPLExUX/XQnyjMfBL1xCWbgk8s9l/c2Q3JxxNh8VSmDk3XByjFKDfYbu7RfFnkHjZv2RNmaGW3sJnud8UiXNI0vbx41ZcEGluI/58VHO4kaVf0JbJLPxZemdg3O8QCmTVyUw8m44+ddmlBoWb+GP3hfFnkEJ+T+mzcXOvXfrxYqA/1QqUa+ctGz7uDGHBQeJOqTctI89o3yOiBvxqf4JbZEymOPL0llcIFUW7LViqAoRatfnaf/7OEsYMsEkU0wz83dI/A8t8T/A/JOgNMuLUrlSrdUbzVa70+31B8PReDKdzRfL1Xqz3e0Px9P5cr3dH8/X+/NliU0D1ySVLk6I13gA9e38OLDmbKTJKNZy55js8h4lWMqhEhiXie5ZH+xI83xxBoVr7u15u6HhCTuucWS0rtQSW1+oxlYKued0dd34iO6Q1dOcOhaJcHcR88cEWc6wcFMUT9cpowgF6HmZ6po5rnAqZJkLLlBTSSlUrV2i8yHGc7MWiQdCneNWrIQ8m1mPFOya4I0ESuko5jzqpePIuw+0k4Y/cOqcJcoZ5x74ECawuVSsyminO2ZhVqsYGEt9p6SkJDIGuctGxIlrFwAXFaBGdA3Fg0AxzbxhNv/u91RvGgzYuUFTwH1QB88SaNiJDQejjsqjGkmaK1a4qCcVEGkbfMIQ4K7qKebQuI4KLuuoTHLYTmVYixaBUo7yiGD6DSU+WnriLvdHbKVrzNDaFbYApRfc3DKwKxCztFdiIX2UWqD3CrUrJzHEuohL4XlRVzFTlUODyWcyTLPI0mg7odxRzKAgG1C/cacie01AChpVucZ21tDRZzFGmirTzJn3F1VhgxyTCANEsiOaqmkHd72I6RriQyDpUcAH4Ex+Ag==) format("woff2");
  font-style: normal;
  font-weight: normal;
}

.hui-icons {
  display: inline-block;
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: "hui-design-iconfont";
}

.hui-icon-001-close::before {
  content: "\e6ff";
}

.hui-icon-002-comments::before {
  content: "\e6e6";
}

.hui-icon-002-warnings::before {
  content: "\e703";
}

.hui-icon-003-right::before {
  content: "\e709";
}

.hui-icon-004-pluscirde::before {
  content: "\e6e8";
}

.hui-icon-005-close2::before {
  content: "\e700";
}

.hui-icon-006-close3::before {
  content: "\e6fe";
}

.hui-icon-006-scan::before {
  content: "\e6e9";
}

.hui-icon-007-add::before {
  content: "\e705";
}

.hui-icon-007-qrcode::before {
  content: "\e6ea";
}

.hui-icon-008-likecircle::before {
  content: "\e6f1";
}

.hui-icon-008-remove::before {
  content: "\e701";
}

.hui-icon-009-checkbox::before {
  content: "\e706";
}

.hui-icon-009-checkcircle::before {
  content: "\e6ee";
}

.hui-icon-010-choose::before {
  content: "\e708";
}

.hui-icon-010-hourglass::before {
  content: "\e6ec";
}

.hui-icon-011-left::before {
  content: "\e6ed";
}

.hui-icon-011-notice::before {
  content: "\e704";
}

.hui-icon-012-arrowright::before {
  content: "\e702";
}

.hui-icon-012-right::before {
  content: "\e6eb";
}

.hui-icon-013-defaultfill::before {
  content: "\e70a";
}

.hui-icon-014-loadfailed::before {
  content: "\e70b";
}

.hui-icon-015-searchcircle::before {
  content: "\e6f2";
}

.hui-icon-016-sharecircle::before {
  content: "\e6f9";
}

.hui-icon-018-phonecirde::before {
  content: "\e6fc";
}

.hui-icon-019-image::before {
  content: "\e6f5";
}

.hui-icon-020-couponscirde::before {
  content: "\e6f6";
}

.hui-icon-024-check::before {
  content: "\e6fa";
}

.hui-icon-025-giftcirde::before {
  content: "\e70c";
}

.hui-icon-034-paymetcirde::before {
  content: "\e707";
}

.hui-icon-037-ordercirde::before {
  content: "\e70d";
}

.hui-icon-062-empty::before {
  content: "\e726";
}

.hui-icon-063-zaihuilogo::before {
  content: "\e724";
}

.hui-icon-064-likefill::before {
  content: "\e722";
}

.hui-icon-065-wechat::before {
  content: "\e725";
}

.hui-icon-067-annotationfill::before {
  content: "\e729";
}

.hui-icon-068-commentsfill::before {
  content: "\e730";
}

.hui-icon-070-minusfill::before {
  content: "\e72b";
}

.hui-icon-071-checkcfill::before {
  content: "\e72a";
}

.hui-icon-072-searchfill::before {
  content: "\e72e";
}

.hui-icon-074-phonefill::before {
  content: "\e731";
}

.hui-icon-075-hartfill::before {
  content: "\e72c";
}

.hui-icon-076-starfill::before {
  content: "\e72f";
}

.hui-icon-078-homefill::before {
  content: "\e740";
}

.hui-icon-079-sharefill::before {
  content: "\e73e";
}

.hui-icon-086-giftfill::before {
  content: "\e751";
}

.hui-icon-091-carfill::before {
  content: "\e73d";
}

.hui-icon-101-downfill::before {
  content: "\e734";
}

.hui-icon-112-doubtfill::before {
  content: "\e755";
}

.hui-icon-122-defaultfill::before {
  content: "\e768";
}

.hui-icon-182-basiscirde::before {
  content: "\e76f";
}

.hui-icon-183-formcirde::before {
  content: "\e771";
}

.hui-icon-185-showcirde::before {
  content: "\e770";
}

.hui-icon-186-tabcirde::before {
  content: "\e76e";
}

.hui-icon-h010-right::before {
  content: "\e745";
}

.hui-icon-h011-downward::before {
  content: "\e749";
}

.hui-icon-h017-plus::before {
  content: "\e8fe";
}

.hui-icon-h025-phone::before {
  content: "\e756";
}

.hui-icon-h109-filter::before {
  content: "\e79f";
}

.hui-icon-h110-upwards::before {
  content: "\e7a0";
}

.hui-icon-h188-workcirde::before {
  content: "\e776";
}

.hui-icon-h203-takingpicturesfill::before {
  content: "\e77d";
}
