@import '@shared/styles/index.scss';
@import '@shared/styles/demo-mixins.scss';

.text-page {
  .content {
    @include content-padding;
  }

  .text-item {
    &:nth-child(2n) {
      margin-bottom: 24px;
    }

    &:nth-child(2n + 1) {
      margin-bottom: 12px;
      font-weight: $hui-font-weight-medium;
    }
  }
}
