/* stylelint-disable csstree/validator */
@import '../../styles/variables.scss';
@import '../../styles/colors.scss';

.hui-divider {
  background: $hui-border-color;

  &-horizontal {
    height: px(1);
  }

  &-vertical {
    display: inline-block;
    width: px(1);
    height: 100%;
  }

  &.horizontal-hairline {
    transform: scaleY(.5);
  }

  &.vertical-hairline {
    transform: scaleX(.5);
  }
}
