@import '@/styles/index.scss';
@import '@/styles/demo-mixins.scss';

.loader-page {
  > .content {
    @include content-padding;

    .row {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}
