@import '../../styles/colors.scss';
@import '../../styles/variables.scss';

.hui-noticebar {
  position: relative;
  padding: px(5) px(16);
  font-size: $hui-font-body-m;
  line-height: px(22);
  color: $hui-noticebar-default-color;
  background: $hui-noticebar-bg-color;

  &-content {
    display: flex;
    align-items: center;
    word-break: break-all;
    word-wrap: break-word;

    &-icon {
      display: inline-block;
      margin-right: px(8);
    }

    &-inner {
      @include line-clamp(3);

      &.no-icon-width {
        width: px(308);
      }

      &.icon-width {
        width: px(280);
      }

      &.max-width {
        width: unset;
      }
    }
  }

  &.marquee {
    .hui-noticebar-content {
      display: flex;
      justify-content: center;
      overflow: hidden;

      &-text {
        flex: 1;
        overflow: hidden;
      }

      &-inner {
        display: inline-block;
        padding-left: 100%;
        white-space: nowrap;
        vertical-align: middle;
        transform: translateZ(0);
        animation: marquee 1s linear infinite both;
      }
    }
  }

  &-close {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: px(48);
    height: 100%;
  }

  &-more {
    position: absolute;
    top: 0;
    right: px(16);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}

@keyframes marquee {
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
