@import '@shared/styles/variables.scss';
@import '@shared/styles/colors.scss';
@import '@shared/styles/demo-mixins.scss';

.card-page {
  .group-section > .title {
    padding-bottom: 10px;
  }

  > .content {
    $padding-bottom: 100px;

    padding: 0 10px $padding-bottom;
    padding-bottom: calc(env(safe-area-inset-bottom) + #{$padding-bottom});
  }

  .detail {
    font-size: $hui-font-body-s;
    color: $hui-card-detail-color;
  }

  .card-content {
    .content-tip {
      @include line-clamp(1);

      line-height: 17px;

      :not(:last-child) {
        margin-bottom: 2px;
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: flex-end;

    .button {
      box-sizing: border-box;
      height: 36px;
      padding: 8px 20px;
      font-size: $hui-font-body-m;
      border-radius: 4px;
    }

    .white-button {
      margin-right: 8px;
      color: $hui-card-title-color;
      border: 1px solid $hui-card-button-border-color;
    }

    .primary-button {
      color: $hui-color-grey-8;
      background: $hui-card-primary-button-color;
      border: 1px solid transparent;
    }
  }

  .to-be-check {
    box-sizing: border-box;
    padding: 4px 8px;
    font-size: $hui-font-caption-m;
    line-height: 14px;
    color: $hui-card-check-color;
    background: $hui-card-check-background-color;
    border-radius: 2px;
  }

  .default-logo {
    width: 100%;
    height: 100%;
    background: $hui-card-logo-background-color;
  }

  .assist-text {
    font-size: $hui-font-caption-m;
    color: $hui-card-assist-color;
  }
}
