@import '../../../styles/variables';

.hui-filter-item {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: $hui-filter-menu-item-z-index;
  width: 100%;
  min-width: 100vw;
  height: auto;
}

.hui-filter-menu-item-content {
  display: flex;
  flex-wrap: wrap;
  max-height: $hui-filter-menu-item-content-max-height;
  background: $hui-filter-menu-item-wrap-bg-color;

  &.is-footer {
    overflow: hidden;
    border-radius: 0 0 $hui-filter-menu-item-content-redius
      $hui-filter-menu-item-content-redius;
  }

  .hui-filter-menu-item-option {
    padding: $hui-filter-menu-item-option-padding-y
      $hui-filter-menu-item-option-padding-x;
    font-size: $hui-filter-menu-text-font-size;
    color: $hui-filter-menu-text-color;
    border-bottom: px(1) solid $hui-filter-menu0item-option-bottom-border-color;
  }

  .hui-filter-menu-item-option-active {
    color: $hui-filter-menu-active-text-color;
  }
}
