@import '@/styles/demo-mixins.scss';
@import '@/styles/index.scss';

.layer-page {
  > .content {
    @include content-padding;

    .image-container {
      margin-bottom: 24px;

      .layer-image {
        width: 343px;
        height: 368px;
        border-radius: 4px;
        box-shadow: 1px 4px 6px #f4f4f4;
      }
    }
  }

  .layer-desc-section {
    padding-bottom: 32px;
    font-weight: $hui-font-weight-medium;

    .title {
      $title-color: #333;

      margin-bottom: 12px;
      font-size: $hui-font-heading-s;
      color: $title-color;
    }

    .content {
      font-size: $hui-font-body-m;
      line-height: 21px;
      color: $hui-font-color-base-75;
    }
  }
}
