@import '../../styles/index.scss';

.input-page {
  > .content {
    .group-section {
      > .title {
        padding-right: 16px;
        padding-left: 16px;
      }
    }
  }

  .disabled-input-status-group {
    padding: 16px;
  }
}
