@import '../../../styles/variables';

.hui-filter-menu {
  box-sizing: border-box;
  // position: relative;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: auto;
  padding: $hui-filter-menu-bar-padding-y $hui-filter-menu-bar-padding-x;
  overflow-x: auto;
  gap: 16px;

  .hui-filter-menu-container {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
  }

  .hui-filter-menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: $hui-filter-menu-text-color;

    .hui-filter-menu-item-icon {
      transition: all 0.2s linear;
    }

    &.active {
      color: $hui-filter-menu-active-text-color;

      .hui-filter-menu-item-icon {
        transform: rotate(180deg);
      }
    }

    &.disabled {
      color: $hui-color-grey-4;
    }

    .hui-filter-menu-item-text {
      width: auto;
      max-width: 80px;
      padding: 0 $hui-filter-menu-item-text-padding-x;
      font-size: $hui-filter-menu-text-font-size;
      font-weight: $hui-font-weight-regular;

      @include no-wrap();
    }
  }
}
