@import "../../../styles/variables";

.hui-filter-menu {
  position: relative;

  .hui-filter-menu-bar {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    max-width: 100%;
    padding: $hui-filter-menu-bar-padding-y $hui-filter-menu-bar-padding-x;
    overflow-x: auto;
    background-color: $hui-filter-menu-bg-color;
    gap: 16px;

    .hui-filter-menu-item {
      box-sizing: border-box;
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      width: 100%;
      color: $hui-filter-menu-text-color;

      .hui-filter-menu-item-icon {
        transition: all .2s linear;
      }

      &.active {
        color: $hui-filter-menu-active-text-color;

        .hui-filter-menu-item-icon {
          transform: rotate(180deg);
        }
      }

      .hui-filter-menu-item-text {
        padding: 0 $hui-filter-menu-item-text-padding-x;
        font-size: $hui-filter-menu-text-font-size;
        font-weight: $hui-font-weight-regular;
        white-space: nowrap;
      }
    }
  }
}
