@import '@shared/styles/variables.scss';
@import '@shared/styles/colors.scss';

$prefix: hui-collapse;

.#{$prefix} {
  margin-bottom: px(20);

  &-header {
    margin-bottom: px(8);
    line-height: 1;

    @include flex-between;

    &-disabled {
      cursor: not-allowed;
      opacity: 0.4;
    }

    &-title {
      max-width: 84%;
      font-weight: $hui-font-weight-medium;
      color: $hui-color-grey-1;

      @include no-wrap;
    }

    &-toggle {
      @include flex-between;

      align-items: center;
      color: $hui-color-grey-2;
      text-align: center;

      .icon {
        margin-left: px(4);

        &.upward {
          transition: all 0.3s ease;
          transform: rotate(-180deg);
        }

        &.downward {
          transition: all 0.3s ease;
          transform: rotate(0deg);
        }
      }
    }
  }

  &-child {
    overflow: hidden;
    background: #f5f5f5;
    transition: height 0.4s ease;
  }
}
