@import '@/styles/index.scss';
@import '@/styles/demo-mixins.scss';

.tag-page {
  > .content {
    @include content-padding;

    .tag-list-container {
      display: flex;
    }

    .column-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .column-sub-item {
        height: 58px;
      }
    }

    .tag-item {
      display: inline-block;
      min-width: 60px;
      margin-right: 16px;

      > .title {
        margin-bottom: 16px;
        font-size: $hui-font-caption-m;
        color: $hui-font-color-base-35;
      }

      > .content {
        flex: 1;
      }
    }
  }
}
