@import "../../styles/colors.scss";
@import "../../styles/variables.scss";

.hui-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $hui-footer-padding;
  font-size: $hui-footer-font-size;
  color: $hui-footer-font-color;
  text-align: center;

  .hui-footer-image {
    margin-bottom: px(4);
  }
}
