@import "../../styles/colors.scss";
@import "../../styles/variables.scss";

.hui-avatar {
  display: inline-block;

  &.circle {
    overflow: hidden;
    border-radius: $hui-avatar-circle-border-radius;
  }

  &.square {
    overflow: hidden;
    border-radius: $hui-avatar-square-border-radius;
  }
}
