@import "../../styles/colors.scss";
@import "../../styles/variables.scss";

.hui-image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: $hui-image-placeholder-bg;

  .placeholder {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: $hui-image-placeholder-font-size;
    color: $hui-image-placeholder-font-color;

    .loading-text {
      margin-top: px(8);
    }
  }

  @keyframes shine {
    from {
      background-position: 150%;
    }

    to {
      background-position: -50%;
    }
  }

  .shine {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    background-image: linear-gradient(90deg, $hui-image-placeholder-bg 20%, $hui-image-placeholder-light-color 50%, $hui-image-placeholder-bg 80%);
    background-clip: content-box;
    background-size: 200%;
    background-blend-mode: hard-light;
    animation: shine 1.5s linear infinite;
  }

  .image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
  }
}
