@import '@zaihui/hui-design/src/styles/variables.scss';
@import '@zaihui/hui-design/src/styles/colors.scss';
@import '@zaihui/hui-design/src/styles/demo-mixins.scss';

.title-page {
  .group-section {
    & > .title {
      padding: 0 16px 16px;
    }

    padding: unset;

    .content {
      background: $hui-border-color;
    }

    &:nth-child(2) {
      padding-top: 70px;
    }
  }

  .hui-demo-title {
    margin-bottom: 16px;
    background-color: $hui-color-grey-8;
  }
}
