@import "../../../styles/variables";

.hui-filter-action-footer {
  display: flex;
  height: px(64);
  padding: px(10) px(16) 0;
  border-top: 1px solid $hui-border-color;
  gap: 17px;

  .hui-filter-action-footer-clear {
    width: 100%;
    height: $hui-button-height-l;
    font-weight: $hui-font-weight-medium;
    color: $hui-filter-action-footer-clear-btn-text-color;
    border-color: $hui-filter-action-footer-clear-btn-border-color;
  }

  .hui-filter-action-footer-confirm {
    width: 100%;
    height: $hui-button-height-l;
    font-weight: $hui-font-weight-medium;
    color: $hui-filter-action-footer-confirm-btn-text-color;
    background-color: $hui-filter-action-footer-confirm-btn-bg-color;
    border-color: $hui-filter-action-footer-confirm-btn-border-color;
  }
}
