@import '../../../styles/variables.scss';
@import '../../../styles/colors.scss';

.filters-default-popup-content {
  padding: $filters-content-popup-default-padding;
}

$prefix: filters-content;

.hui-filter-filters {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: $hui-z-index-m;
  width: 100%;
}
.#{$prefix} {
  height: 100%;

  &-content {
    overflow-y: auto;

    &.right,
    &.left {
      width: $filters-content-popup-left-right-width;
      height: 82%;
    }

    &.top {
      max-height: $filters-content-popup-top-content-max-height;
    }
  }
}
