@import '@/styles/index.scss';
@import '@/styles/demo-mixins.scss';

.image-page {
  > .content {
    @include content-padding;

    .fake-image {
      $bg-color: #f4f4f4;
      $font-color: rgba(#1e1e1e, .35);

      display: flex;
      align-items: center;
      justify-content: center;
      width: 80px;
      height: 80px;
      font-size: 12px;
      color: $font-color;
      background-color: $bg-color;

      &.large {
        flex-direction: column;
        width: 160px;
        height: 90px;
        color: $hui-color-grey-5;

        .placeholder-block {
          $bg-color2: #d8d8d8;

          width: 34px;
          height: 34px;
          margin-bottom: 6px;
          background-color: $bg-color2;
        }
      }
    }

    .sub-group-section {
      > .sgs-title {
        padding: 0;
      }
    }
  }

  .sample-item {
    display: inline-flex;
    flex-direction: column;
    width: 50%;

    > .si-title {
      margin-bottom: 16px;
      font-size: $hui-font-caption-m;
      color: $hui-font-color-base-35;
    }

    > .si-content {
      display: flex;
      flex-grow: 1;
      align-items: center;
    }
  }
}
